service dhcp-service /system/bin/netcfg eth0 dhcp
        oneshot

on property:dev.bootcomplete=1
        stop dhcp-service
        start dhcp-service

on boot
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin
    setprop wifi.interface eth0

     # Create directories for wiper services
    mkdir /data/wpstiles/ 0777 shell
    mkdir /etc/wiper 0777 location qcom_oncrpc

    #caowuguo test 20101221
    chmod 777 /dev/oncrpc*

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd


on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
    start btwlancoex

on property:init.svc.bluetoothd=stopped
    stop btwlancoex

service hci_qcomm_init /system/bin/log -t qcom-bluetooth -p i "hci_qcomm_init service requested"
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0

service pcm-bridge /system/bin/pcm-bridge /dev/smd7 /dev/ttyGS1


service qmuxd /system/bin/qmuxd


service netmgrd /system/bin/netmgrd -E
    disabled

on property:ro.use_data_netmgrd=true
    start netmgrd

service btwlancoex /system/bin/sh /system/etc/init.qcom.coex.sh
    user root
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot
    
# Permission for ril
    mkdir /data/misc/radio 0774 radio radio
    mkdir /data/local
    chmod 0777 /data/local
    chown radio shell /data/local
    mkdir /data/local/tmp
    chmod 0777 /data/local/tmp
    chown radio shell /data/local/tmp

# For qmuxd socket
    mkdir /data/radio 0770 radio radio
    chown radio radio 0770 /data/radio

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf 
    group wifi inet
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd /system/bin/dhcpcd -ABKL eth0
    disabled
    oneshot

service wiperiface /system/bin/wiperiface
    user location
    group qcom_oncrpc
    oneshot

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    user system
    group system
    disabled
    oneshot

service qcom-sh /system/bin/sh /init.qcom.sh
    user root
    oneshot

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start qcom-post-boot

service ckpd /system/bin/CKPD-daemon
    onrestart /system/bin/log -t RIL-CKPD -p w "CKPD daemon restarted"

service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    user root
    disabled
    oneshot
    keycodes 115 114

# applogcat is triggered by projectmenu or setprop
service applogcat /system/bin/logcat -v time -r 1024 -n 16 -f /sdcard/bugreports/applogcat-log
    disabled

# kmsglogcat is triggered by projectmenu or setprop
service kmsglogcat /system/bin/kmsgcat -r 1024 -n 16 -f /sdcard/bugreports/kmsgcat-log
    disabled

service modemlogcat /system/bin/diag_mdlog
    disabled

# sleeplogcat is triggered by projectmenu or setprop
service sleeplogcat /system/bin/sleeplogcat -t 10 -p /sdcard/sleeplog/
    disabled

start the test_diag support automation and diag in arm11
service test_diag /system/bin/test_diag
